*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(chat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

header{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 10px;
}

header div{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.usuario{
    position: absolute;
    height: 220px;
    width: 500px;
    margin-right: 700px;
    flex-wrap: wrap;
    margin-bottom: 260px;
    border-radius: 16%;
    padding: 16px;
    border: none;
    background-color: transparent;
}

.ia{
    padding: 20px;
    height: 204px;
    position: absolute;
    width: 460px;
    border-radius: 16%;
    margin-left: 720px;
    margin-bottom: 260px;
    flex-wrap: wrap;
}